/node_modules
/vendor

/public/js/*
/public/css/*
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.env.*.php

.phpunit.result.cache
docker-compose.override.yml

Homestead.json
Homestead.yaml

*.lock
npm-debug.log
yarn-error.log
.styleci.yml
package-lock.json
